html {
  background-color: #1275b2;

  body {
    padding: 20px;
    width: 500px;
    margin: 200px auto 0 auto;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 6px;
    color: gray;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 100;
    letter-spacing: 0.010em;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.orange {
  color: orange;
}

pre {
  margin-top: 20px; 
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.library {
  .items {
    padding: 0 0 20px 0;
    list-style: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    margin: 0 -20px;

    li {
      padding-bottom: 7px;
      margin-left: 20px;

      a {
        color: #1275b2;
        text-decoration: none;

        &:hover {
          color: #17C6FB;
        }
      }
    }
  }
}

.label {
  font-weight: bold;
  margin-right: 5px
}

.value {
  margin-right: 15px
}

.timeline {
  margin-top: 20px;

  .messgae {
    margin-top: 10px;
  }

  .items {
    list-style: none;
    padding: 0;
    margin-top: 20px;

    li {
      padding-bottom: 7px;

      a {
        padding-bottom: 4px;
        display: block;
        color: #1275b2;
        text-decoration: none;

        &:hover {
          color: #17C6FB;
        }
      }
    }
  }
}
